<div class="p-grid" *ngIf="summary != undefined">
  <div class="p-col-12 p-sm-4">
    <p-card styleClass="confirmados">
      <h2>{{summary.Global.TotalConfirmed|number}}</h2>
      <p>Confirmados</p>
    </p-card>
  </div>
  <div class="p-col-12 p-sm-4">
    <p-card styleClass="recuperados">
      <h2>{{summary.Global.TotalRecovered|number}}</h2>
      <p>Recuperados</p>
    </p-card>
  </div>
  <div class="p-col-12 p-sm-4">
    <p-card styleClass="mortes">
      <h2>{{summary.Global.TotalDeaths|number}}</h2>
      <p>Mortes</p>
    </p-card>
  </div>
</div>